RewriteEngine On

##
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^nop_ho_so(.*)$ index.php?url=r3/nop_ho_so_qua_mang_internet$1 [L]
RewriteRule ^mavach(.*)$ index.php?url=r3/mavach [L]

##
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]


